# --- SECTION CRITIQUE FRONTEND (Node) ---
node_modules/
client/node_modules/
server/node_modules/
.next/
client/.next/
out/
build/
.vercel/
package-lock.json
client/package-lock.json

# --- SECTION CRITIQUE BACKEND (Python) ---
__pycache__/
*.py[cod]
.venv/
server/.venv/
venv/
env/
.env
.env.local
server/.env

# --- SYSTÈME ---
.DS_Store
.vscode/
.idea/